{% extends "foundation/base.html" %}
<!doctype html>
<html class="no-js" lang="en">

	<head>
		{% block base_title %}
		<title>Plato's Matrix - {%block pagetitle %}{% endblock %}</title> 	
		<h1>  {{ "Plato's Movie Matrix" }} </h1>
		{% endblock base_title %}
	</head>
	
    
    {% block base_body %} 
    <body>
 
<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large;is_hover: true">
    	  <ul class="title-area">
		  <li class="name">
			  <h1><a href="#">Plato Zone</a></h1>
		  </li>

	  </ul>

	  <section class="top-bar-section">
		  <ul class="left">
			  <li class="active"><a href="/">Home</a></li> 
			  <li class="active"><a href="/anchoring/">Anchoring</a></li>
			  <li class="active"><a href="/perception/">Perception</a></li> 
			  <li class="active"><a href="/richer/">Underprovision</a></li> 
		  </ul>
	  </section>
  </nav>
</div>

<div id="content">
	<div id="primary">
		<h1>{% block title %}{% endblock %}</h1>
		{% block primary %}
		<div class = "panel">
		<h3> Welcome to the Matrix </h3>
		<br>
		<p> Click on one of the tabs above to for visualizations of Amazon Movie Reviews using theories from social science. </p>
		<p> Details and reasoning behind each visual are found in the report </p>
		<div>
		<h4>
		<a href="https://github.com/DVLevine/Plato-Movie-Matrix/blob/master/IntroCMAssignment3DataAnalysis.pdf" class="button"> Report </a>
		</h4>
		</div>
		</div>
		{% endblock %}
		</table>
	</div>
	
    </body>
    
    {% endblock base_body %}

</html>
